<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" >
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    <!--{% load staticfiles %}-->
	<!--<link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}" type = "text/css"/>-->
    <!--<link rel="stylesheet" href="{% static 'main/css/simple-sidebar.css' %}" type = "text/css"/>-->
    <!--<script src="{% static 'main/js/bootstrap.min.js' %}"> </script>-->
    <!--<script src="{% static 'main/jquery-3.0.0.min.js' %}"> </script>-->

    <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href=" {% static 'main2/css/materialize.min.css' %} "  media="screen,projection"/>
    <style>
    header, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
    .navbar.navbar-default{

        position: fixed;
        z-index: 1000;
    }
    </style>


</head>


<body>
    <nav class="navbar navbar-default ">
        <div class="container-fluid">
            <div class="navbar-header" >

              <ul class="nav navbar-nav">
                    <li> <a href="/" >Dost</a></li>
                    <li> <a href="/discussions" >Discuss</a></li>
                    <li> <a href="/quotes" > Quotes</a></li>
                    <li> <a href="/team" > Team</a></li>
                    <li> <a href="/chat" > Chat</a></li>


                    {% if user.is_authenticated %}
                       <ul class="right hide-on-med-and-down">
                        <li  style="margin:0px 5px 0px 0px;"><a href="" class="waves-effect waves-light btn"> Welcome {{ user.username }} </a>  </li>
                        <li style="margin:0px 10px 0px 0px;"><a href="/logout" class="waves-effect waves-light btn">Logout</a> </li>
                        </ul>
                    {% else %}
                        <ul class="right hide-on-med-and-down">
                    	<li style=""><a href="/login" class="waves-effect waves-light btn">LOGIN</a></li>
						<li style=""><a href="/register" class="waves-effect waves-light btn">SIGNUP NOW</a></li>
                        </ul>
                    {% endif %}

                    </ul>
        </div>
            </div>

    </nav>

    <ul id="slide-out" class="side-nav fixed" style="margin-top: 5%">
      <li><a href="/chat"> Back  </a></li>
         <li><a href="/chat/home"> Chatroom  </a></li>
    </ul>


            {% block content %}


            {% endblock content %}


     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src=" {% static 'main2/js/materialize.min.js' %}"></script>
      <script>
                     $(document).ready(function() {
                        $('select').material_select();
                    });
       </script>

    </body>
</html>

