
{% extends "main/base2.html" %}
{% block content  %}


{% load staticfiles %}
    <link rel="stylesheet" href="{% static 'archieve.css' %}">

<style>
        #chatbody {
  float: left;
  width: 75%;
  margin-left: 25%;
  margin-top: 8%;
  padding: 0;
  overflow-y:hidden;
}



    </style>

  <!-- Latest compiled and minified CSS -->

    <div id="chatbody">
    <div id="chat-body" class="panel panel-default">
        <div class="panel-heading">Chat Box</div>
        <div id="msg-list-div" class="panel-body">
            <ul id="msg-list" class="collection">
                {% for obj in chat %}
                    {% if obj.user == request.user %}

                        <li class="collection-item" style="text-align: right"> {{ obj.message }}</li>

                    {% else %}

                        <li class="collection-item" style="text-align: left">{{ obj.user.username }}    {{ obj.message }}</li>
                    {% endif %}
                {% empty %}
                    <li class="collection-item">No messages yet!</li>
                {% endfor %}

            </ul>
        </div>
    </div>

     <form id="chat-form" method="post" action={{ post_url }}>
        {% csrf_token %}
        <div id="chat-bottom" class="input-group">
            <input type="text" id="chat-msg" name="chat-msg" class="form-control"/>
            <span class="input-group-btn">
                <input class="btn btn-default" id="send" type="submit" value="Send"/>
            </span>
        </div>
    </form>


    </div>
{% endblock %}